{% if app.user and app.user.isVerified == 0 %}
  <script>
    document.addEventListener('turbo:load', function () {
      showConfirm({
        title: '<span class="text-danger">Compte inactif</span>',
        text: `<div class="text-body">
                <p>Votre compte n'est pas activé.</p>
                <p>Veuillez vérifier votre boîte mail !</p>
              </div>`,
        type: 'danger',
        confirmText: '<i class="fas fa-paper-plane me-2"></i>Renvoyer le lien',
        cancelText: '<i class="fas fa-times me-2"></i>Fermer'
      }).then((confirmed) => {
        if (confirmed) {
          window.location.href = '{{ path('app_verify_email_send') }}';
        }
      });
    });
  </script>
{% endif %}

<script>
  document.addEventListener('turbo:load', function () {
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        showAlert({
          title: '{{ label|capitalize }}',
          text: '{{ message|e('js') }}',
          type: '{{ label in ['danger','error'] ? 'error' : label }}',
          timer: 5000
        });
      {% endfor %}
    {% endfor %}
  });
</script>