# Force l'utilisation de index.php comme point d'entrée
DirectoryIndex index.php

# Désactive MultiViews pour éviter les conflits de réécriture
<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

# Configuration du module de réécriture d'URL
<IfModule mod_rewrite.c>
    # Activation du module
    RewriteEngine On
    
    # Gestion des headers d'authentification
    RewriteCond %{HTTP:Authorization} .
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
    
    # Redirection vers index.php si le fichier/dossier n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Sécurité supplémentaire
<IfModule mod_headers.c>
    # Désactive les frames pour éviter les attaques clickjacking
    Header set X-Frame-Options "SAMEORIGIN"
    
    # Protection contre les attaques MIME
    Header set X-Content-Type-Options "nosniff"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]
    
    # Autoriser les requêtes POST de NowPayments
    SetEnvIf Origin "^https://api\.nowpayments\.io$" ACCESS_CONTROL_ALLOW_ORIGIN=$0
    Header always set Access-Control-Allow-Origin %{ACCESS_CONTROL_ALLOW_ORIGIN}e env=ACCESS_CONTROL_ALLOW_ORIGIN
    Header always set Access-Control-Allow-Methods "POST, OPTIONS"
    Header always set Access-Control-Allow-Headers "x-nowpayments-sig, Content-Type"
</IfModule>