{% extends 'base.html.twig' %}

{% block title %}Dépôt via PayPal{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2>Dépôt de {{ amount }} USD avec PayPal</h2>
    <p>Vous allez être redirigé vers PayPal pour valider votre paiement.</p>
    <a href="{{ path('app_paypal_redirect', {'amount': amount}) }}" class="btn btn-primary">
        Poursuivre avec PayPal
    </a>
</div>
{% endblock %}