{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}404 - Page introuvable
{% endblock %}

{% block body %}
	<div class="error-container h-100" max-height="100vh" style="text-align: center; padding: 50px; background-color: #0f172a; color: #38bdf8; font-family: Arial, sans-serif;">
		<img src="https://raw.githubusercontent.com/harissonola/my-cdn/main/img/404.webp" alt="404 Not Found" width="300" style="max-width: 100%; border-radius: 10px;">
		<h1 style="font-size: 3em;">404 - Page introuvable (
			{{ app.request.uri }}
			)</h1>
		<p style="font-size: 1.2em;">Désolé, la page que vous recherchez n'existe pas.</p>
		<a href="{{path("app_dashboard")}}" style="padding: 10px 20px; background: #38bdf8; color: white; text-decoration: none; border-radius: 5px;">Retour à l'accueil</a>
	</div>
{% endblock %}
